@import "../global";

.hotel{
    background-image: url(../../assets/img/png/hero3.png);
    width: 100%;
    height: 100vh;
    position: relative;
    padding-top: 193px;
    background-size: cover;
    background-repeat: no-repeat;
    &__title{
        @include font(#FFFFFF,$font-gar,bold, 170px, 150px);
        letter-spacing: 0.07em;
        &--small{
            @include font(#FFFFFF,$font-mons,normal,57px,50px);
        }
        &--midle{
            @include font(#FFFFFF,$font-gar,normal, 68px, 60px);
            letter-spacing: 0.4em;
        }
    }
    &__text{
        @include font(#FFFFFF,$font-mons,normal, 30px, 25px);
        letter-spacing: 0.1em;
        max-width: 580px;
    }
    &__button{
        @include center;
        margin-top: 65px;
    }
}