@mixin font($color, $font-family, $weight, $height, $size){
    color:$color;
    font-family:$font-family;
    font-weight:$weight;
    line-height: $height;
    font-size: $size;
}

@mixin center{
    display: flex;
    align-items: center;
    justify-content: center;
}