@import "../global";

.facilities{
    padding-top: 82px;
    background-color: #FFFFFF;
    &__title{
        @include font($black, $font-gar, bold, 72px, 60px);
        text-align: center;
    }
    &__text{
        @include font($black, $font-mons, normal, 30px, 25px);
        text-align: center;
        max-width: 1540px;
        margin: 34px 0 80px;
    }
    // &__img{
    //     position: relative;
    // }
    &__button{
        text-align: center;
        @include font($black, $font-mons, bold, 59px, 48px);
        background-color: #FFFFFF;
        height: 75px;
        width: 670px;
        @include center;
        margin: -100px auto 0;

    }
    &__content{
        margin-bottom: 180px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}