@import "../global";
.hero{
    background-image: url(../../assets/img/png/hero.jpg);
    width: 100%;
    height: 100vh;
    position: relative;
    padding-top: 193px;
    background-size: cover;
    background-repeat: no-repeat;
    // &::after{
    //     content: "";
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     top: 0;
    //     left: 0;
    //     background-color: rgba($color: #14274A, $alpha: .5);
    // }
    // &__content{
    //     position: absolute;
    //     z-index: 5;
    //     width: 100%;
    // }
    &__title{
        @include font(#FFFFFF,$font-gar,bold, 170px, 150px);
        letter-spacing: 0.07em;
        &--small{
            @include font(#FFFFFF,$font-mons,normal,57px,50px);
        }
        &--midle{
            @include font(#FFFFFF,$font-gar,normal, 68px, 60px);
            letter-spacing: 0.4em;
        }
    }
    &__text{
        @include font(#FFFFFF,$font-mons,normal, 30px, 25px);
        letter-spacing: 0.1em;
        max-width: 580px;
    }
    &__button{
        margin: 0 auto;
        margin-top: 65px;
        @include center;
    }
}