@import '../global';

.button{
    @include font(#FFFFFF,$font-mons,normal, bold, 25px);
    line-height: 30px;
    padding: 22px 33px 27px;
    background-color: $brown;
    outline: none;
    border: none;
    transition: 0.5s;
    margin-top: 65px;
    &:hover{
        cursor: pointer;
        transform: scale(1.1);
        background-color: rgba($color: #183963, $alpha: 1.0);
    }
    &__svg{
        margin-right: 18px;;
        border-radius: 1px;
    }
    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.text{
    @include font(#FFFFFF,$font-mons, bold, 30px, 25px);
    letter-spacing: 0.05em;
    margin: 50px 0 15px;
}