@import '../global';

.button{
    @include font(#FFFFFF,$font-mons,normal, bold, 25px);
    line-height: 30px;
    padding: 22px 33px 27px;
    background-color: $brown;
    outline: none;
    border: none;
    text-transform: uppercase;
    transition: 0.5s;
    &:hover{
        cursor: pointer;
        transform: scale(1.1);
        background-color: rgba($color: #183963, $alpha: 1.0);
    }
    &__svg{
        margin-right: 18px;;
        border-radius: 1px;
    }
}
