@import '../global';

.button{
    @include font(#FFFFFF,$font-mons,normal, bold, 25px);
    line-height: 30px;
    padding: 22px 33px 27px;
    background-color: $brown;
    outline: none;
    border: none;
    &__svg{
        margin-right: 18px;;
        border-radius: 1px;
    }
    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.text{
    @include font(#FFFFFF,$font-mons, bold, 30px, 25px);
    letter-spacing: 0.05em;
    margin: 80px 0 15px;
}