@import "../global";

.room{
    background-color: $white;
    padding-top: 82px;
    &__img{
        min-height: 100%;
        padding-left: 30px;
    }
    &__main-row{
        margin-bottom: 65px;
    }
    &__title{
        @include font($black,$font-mons,normal, 44px, 36px);
        max-width: 1055px;
        display: flex;
        align-items: center;
        margin-bottom: 97px;
    }
    &__subtitle{
        @include font($black,$font-gar, bold, 72px, 60px);
        letter-spacing: 0.02em;
        max-width: 650px;
    }
    &__text{
        @include font($black,$font-mons, normal, 40px, 25px);
        max-width: 530px;
        margin: 15px 0 30px;
    }
    &__button{
        @include font(#FFFFFF,$font-mons, normal, 24px, 20px);
        background-color: $brown;
        padding: 18px 65px 20px;
        border: none;
        transition: 0.3s;
        &:hover{
            cursor: pointer;
            transform: scale(1.1);
            background-color: rgba($color: #183963, $alpha: 1.0);
        }
    }
    &__content{
        margin-bottom: 65px;
    }
    &__major{
        border-left: 2px solid #14274A;
        padding-left: 20px;
    }
}

